In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV created in part one into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
0,0,Binga,ZW,-17.62,27.34,57.27,64,0,1.05,clear sky,0.0,0.0
1,1,Rocha,UY,-34.48,-54.33,57.70,93,98,7.23,overcast clouds,0.0,0.0
2,2,Camacha,PT,33.08,-16.33,69.80,73,40,10.29,scattered clouds,0.0,0.0
3,3,Qaanaaq,GL,77.48,-69.36,39.47,72,27,3.69,scattered clouds,0.0,0.0
4,4,Tonekabon,IR,36.82,50.87,77.00,61,0,2.24,clear sky,0.0,0.0

In [4]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (Inches)          float64
Snow (Inches)          float64
dtype: object

In [5]:
#See if there are any cities that have rain.
raining_cities = city_data_df.loc[city_data_df["Rain (Inches)"] > 0]
raining_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
17,17,Veraval,IN,20.90,70.37,84.34,79,97,16.49,light rain,0.39,0.0
19,19,Marsh Harbour,BS,26.54,-77.06,82.29,75,100,7.76,light rain,0.28,0.0
48,48,Kavaratti,IN,10.57,72.64,83.41,77,100,15.26,moderate rain,1.56,0.0
55,55,Itacare,BR,-14.28,-39.00,73.65,84,5,10.85,light rain,0.18,0.0
69,69,Nauta,PE,-4.51,-73.58,80.04,92,21,1.61,light rain,0.55,0.0

In [6]:
#See if there are any cities that have snow.
snowing_cities = city_data_df.loc[city_data_df["Snow (Inches)"] > 0]
snowing_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
199,199,Promyshlennyy,RU,67.58,63.92,34.50,94,100,13.67,light snow,0.0,0.15
527,527,Aktash,RU,50.30,87.73,27.09,99,100,4.61,light snow,0.0,0.12

In [7]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
#ASk the customer if they want it to be raining
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [9]:
#Ask the customer if they want it to be snowing
snow_amount = input("Do you want it to be snowing (yes/no) ")

Do you want it to be snowing (yes/no) no

In [10]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (Inches)"] == 0) &
                                          (city_data_df["Snow (Inches)"]==0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (Inches)"] > 0.0) &
                                          (city_data_df["Snow (Inches)"]==0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (Inches)"] == 0) &
                                          (city_data_df["Snow (Inches)"]>0.0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (Inches)"] > 0.0) &
                                          (city_data_df["Snow (Inches)"]>0.0)]

In [11]:
#Examine the first rows of the DataFrame.
filtered_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (Inches),Snow (Inches)
4,4,Tonekabon,IR,36.82,50.87,77.00,61,0,2.24,clear sky,0.0,0.0
7,7,Puerto Ayora,EC,-0.74,-90.35,75.20,73,20,20.80,few clouds,0.0,0.0
18,18,Belmonte,BR,-15.86,-38.88,75.20,64,0,5.82,clear sky,0.0,0.0
21,21,Hithadhoo,MV,-0.60,73.08,83.44,69,29,4.63,scattered clouds,0.0,0.0
22,22,Boromo,BF,11.75,-2.93,87.96,40,23,5.48,few clouds,0.0,0.0

In [12]:
#Get a count of the number of viable cities for the inputs.
filtered_cities_df.count()

City_ID                167
City                   167
Country                167
Lat                    167
Lng                    167
Max Temp               167
Humidity               167
Cloudiness             167
Wind Speed             167
Current Description    167
Rain (Inches)          167
Snow (Inches)          167
dtype: int64

In [13]:
#Remove any "n/a" rows.
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df.count()

City_ID                167
City                   167
Country                167
Lat                    167
Lng                    167
Max Temp               167
Humidity               167
Cloudiness             167
Wind Speed             167
Current Description    167
Rain (Inches)          167
Snow (Inches)          167
dtype: int64

In [14]:
#Create a hotels DataFrame containing the city, country, max temperature, latitude, longitude, and current weather.
hotel_df = filtered_cities_df[["City","Country","Max Temp","Lat","Lng","Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Tonekabon,IR,77.00,36.82,50.87,clear sky,
7,Puerto Ayora,EC,75.20,-0.74,-90.35,few clouds,
18,Belmonte,BR,75.20,-15.86,-38.88,clear sky,
21,Hithadhoo,MV,83.44,-0.60,73.08,scattered clouds,
22,Boromo,BF,87.96,11.75,-2.93,few clouds,
...,...,...,...,...,...,...,...
552,Cotonou,BJ,77.00,6.37,2.42,thunderstorm with light rain,
556,Manaure,CO,89.76,11.78,-72.44,overcast clouds,
562,Kibala,TD,78.80,9.11,18.35,broken clouds,
565,Sabha,LY,83.16,27.04,14.43,clear sky,
570,Coxim,BR,75.74,-18.51,-54.76,clear sky,

In [15]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
4,Tonekabon,IR,77.00,36.82,50.87,clear sky,Hotel Sadra
7,Puerto Ayora,EC,75.20,-0.74,-90.35,few clouds,Finch Bay Galapagos Hotel
18,Belmonte,BR,75.20,-15.86,-38.88,clear sky,Pousada Monte Carmelo O Pão
21,Hithadhoo,MV,83.44,-0.60,73.08,scattered clouds,Scoop Guest House
22,Boromo,BF,87.96,11.75,-2.93,few clouds,Sama Camp

In [17]:
#Examine the hotel data frame with hotels included
hotel_df.count()

City                   167
Country                167
Max Temp               167
Lat                    167
Lng                    167
Current Description    167
Hotel Name             167
dtype: int64

In [18]:
#Create an output file (CSV).
output_data_file = "data/WeatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
#Create a map of the locations of the selected hotels.
locations = hotel_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Create an information box to add to the map.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
#Add marker labels to the markers on the map.
locations = hotel_df[["Lat","Lng"]]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))